*,
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: rgb(255 165 53);
}


.App {
  background-color: #f5f5f5;
  min-height: 100vh;

}


/*NAVBAR*/

header {
  min-height: 80px;
  box-shadow: 0px 0px 10px 0px;
  margin-bottom: 100px;

}

.nav {
  display: flex;
  margin: 30px;
  min-height: 80px;
  width: 100%;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
}

.nav a h1:hover {
  color: #c85000;
}



.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  max-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin: 20px;

}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*EDITOR*/
.quill .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  background-color: white;
}

.quill .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.quill .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #F3F3F3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .quill .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .quill .ql-toolbar.ql-snow {
    display: none;
  }
}


.footer {
  min-height: 50px;
  color: #c85000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 223 183);
  box-shadow: 0px 0px 10px 0px;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home h2 {
  font-size: 4rem;
}

.show {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show h2 {
  font-size: 4rem;
}

.update {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.update h2 {
  font-size: 4rem;
}

.create {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create h2 {
  font-size: 4rem;
}

.home p {
  font-size: 1.75rem;
}

.doccontainer {
  width: 90%;
  margin: 10px auto;
  background-color: #fff;
  border: 3px solid black;
  min-height: 50px;
}

.createcontainer {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

.createcontainer label {
  font-size: 30px;
  color: #c85000;
}


.createcontainer input {
  height: 50px;
  width: 300px;
  border: transparent;
  margin: 10px;
  color: #fb8332;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.grid-doc {
  display: flex;
  flex-wrap: wrap;
}

.docWrapp {
  border: 1px solid black;
  padding: 10px 20px;
  margin: 10px;
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);

}

.docWrapp:hover {
  padding: 20px 30px;
  color: #fa6400;
  font-weight: bold;
}

.small {
  margin: 5px;
}

.name-text {
  width: 300px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.docname {
  font-size: 16px;
  color: black;
  font-weight: 100;
  text-transform: uppercase;
}